@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Lato;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FBFBFB;
}

h1{
   
  font-weight: 700;
  line-height: 1;
}

p{
  font-weight: 700;
}

h4{
  font-size: small;
  color: #303030;
  line-height: 1;
  font-weight: 700; 
  letter-spacing: 0%;
}

code {
  font-family: Lato;
}
